.vh-90{
  height: 90vh;
}

.min-vh-10{
  min-height: 10vh;
}

.images-row{
  height: 45vh;
}

.bg-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link-card:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: all 300ms ease;
  filter:   grayscale(0%);
}


#slide1{
  background-image: url("../images/home/australia_slide_1.jpg");
}

#slide2{
  background-image: url("../images/home/australia_slide_2.jpg");
}

#slide3{
  background-image: url("../images/home/australia_slide_3.jpg");
}

/* #heroSection{
} */

#cultureDiv{
  background-image: url("../images/culture/aborigenal_people.jpg");
}

#citiesDiv{
  background-image: url("../images/cities/sidney_cover.jpg");
}

#placesDiv{
  background-image: url("../images/places/uluru.jpg");
}

#statisticsDiv{
  background-image: url("../images/home/australia_flag.webp");
}

.title{
  font-size: 5vw;
}