.min-vh-10{
  min-height: 10vh;
}

.min-vh-90{
  min-height: 90vh;
}

.min-vh-100{
  min-height: 100vh;
}

.images-row{
  height: 45vh;
}

#heroSection{
  background-image: url("../images/home/australia_slide_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#cultureDiv{
  background-image: url("../images/culture/aborigenal_people.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#citiesDiv{
  background-image: url("../images/cities/sidney_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#placesDiv{
  background-image: url("../images/places/uluru.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#statisticsDiv{
  background-image: url("../images/home/australia_flag.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}